<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708892247921-s8sb06in85s9pe8k6rnl7tg3i2lucnpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708892247921-s8sb06in85s9pe8k6rnl7tg3i2lucnpk</string>
	<key>API_KEY</key>
	<string>AIzaSyDJsSQ8rVnfen7kB5nPWrsEfP0fPdU8yUI</string>
	<key>GCM_SENDER_ID</key>
	<string>708892247921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webullish.webullish</string>
	<key>PROJECT_ID</key>
	<string>webullish-14c86</string>
	<key>STORAGE_BUCKET</key>
	<string>webullish-14c86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708892247921:ios:a791500d6aebd6682898d0</string>
</dict>
</plist>